grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.util.PropertyPermission "intellij.debug.agent", "read,write";
    /*permission java.lang.reflect.ReflectPermission "suppressAccessChecks";*/
};