<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coderead.mybatis.ognl.mappers.OgnlMapper">

    <!--测试静态方法-->
    <select id="testStaticMethod" resultType="org.coderead.mybatis.beans.User">
        <bind name="mock_name" value="@org.coderead.mybatis.ognl.MockUtil@mockName(_parameter)" />
        select * from user where name=#{mock_name}
    </select>

    <!--测试成员方法-->
    <select id="testMemberMethod" resultType="org.coderead.mybatis.beans.User">
        <bind name="new_age" value="param1.increaseAge(param2)" />
        select * from user where age=#{new_age}
    </select>

    <!--测试静态成员变量-->
    <select id="testStaticField" resultType="org.coderead.mybatis.beans.User">
        <bind name="_age" value="@org.coderead.mybatis.ognl.TestConstants@AGE_38" />
        select * from user where age=#{_age}
    </select>
</mapper>
